*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-family:'karla',sans-serif ;
 
}


.App{
  display: flex;
  background-color: #0B2434;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  gap:5%;
  

}
.Main{
  /* display: flex; */
  width: 30%;
  height:50%;
  min-width: 300px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family:'karla',sans-serif ;
  border-radius: 6%;
  box-shadow: 0px -1px 12px 6px rgba(89,150,157,0.75);
  -webkit-box-shadow: 0px -1px 12px 6px rgba(89,150,157,0.75);
  -moz-box-shadow: 0px -1px 12px 6px rgba(89,150,157,0.75);
}.Main h1{
  margin:0px;
  padding-bottom: 0px;
  font-weight: 700;
}.Main .heading{
  text-align: center;
}.heading p{
  /* width: 80%; */
  padding:2% 18%;
  font-weight: 400;
  color:#4A4E74
  
}
.container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
  height: 40%;
  
}
.container button{
  height:28%;
  width:15%;
  margin:1%;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);

  border-radius: 3.81277px;
  border: none;
  box-shadow: 0px 2px 12px -7px #a3c5ed;
  

}.celebration{
  justify-content: center;
} button span{
  font-family:'karla',sans-serif ;
  font-weight: 700;
  font-size: larger;

}
.roll{
  width:20%;
  height: 10%;
  border: none;
  background-color:#5035FF;
  border-radius:6%;
  color:white;
  font-family: 'karla';
  font-weight: 700;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  
}button:hover{
  box-shadow: 0px 10px 14px -7px #87eff4;
  box-shadow: 0px 10px 14px -7px #5aa8b4;
  cursor:pointer;
}
.Scores{
  width:8%;
  height:10%;
  padding:0px;
  margin:0px;
}

